<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
	function fn(){
		/* myname = document.getElementById('name') */
/* 		myname.value =  '홍길동'
		myname.value = '홍길동'
		age.value = 30  */
		orderData = {person:{id:personId.value}, productName:productName.value, price:price.value} // ''로 감싸도 되고 안 감싸도 됨
		console.log(orderData)
		console.log(personId.value)
		// ajax 통신 (post)
		fetch('/api/orders', {
			method:'POST',
			headers:{
				'Content-Type':'application/json' // body에 실릴 타입 선언
			},
			body:JSON.stringify(orderData) // 실제 데이터 넘길 json 객체 - 단 보내기 전에 문자열로 변환해서 보내야함
		})
		.then(response => response.json()) // 결과 받은 response 데이터(문자열)에서 데이터 부분을 json화
		.then(data => resultFn(data)) // 위에서 json화 된 데이터를 처리 (resultFn 함수)
	}
	function resultFn(data){
		console.log(data)
		show.innerHTML = `<h3>입력됨</h3>`
	}
</script>
</head>
<body>
	<h1>rest api insert</h1>
	<hr>
		<label>고객아이디:</label>
		<input id="personId" type="number"><br>
		<label>상품명:</label>
		<input id="productName" type="text"><br>
		<label>가격:</label>
		<input id="price" type="number"><br>
		<button onclick="fn()">입력</button>
	<hr>
	<div id="show"></div>
</body>
</html>